<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<%- include ('header.ejs'); %>

<section class="abilities-page">
  <div class="content">
    <aside class="left-side">
        <div class="abilities-serv">
            <h3>Услуги</h3>
            <ol>
            <li>составление технического задания</li>
            <li>Разработка дизайна как простого, так и технически сложного.</li>
            <li>Разработка сайта с нуля: форумы, интернет-магазины, сайты-визитки и прочее.</li>
            <li>Создание чат ботов в телеграм</li>
            <li>Создание парсеров</li>
            <li>Верстка email-рассылок, верстка макетов psd и figma. Адаптивная, коссбраузерная верстка.</li>
            <li>Администрирование сайта: установка, перенос и настройка сайта на хостинге, установка сертификатов и доменов, исправление ошибок и багов на сайте</li>
            </ol>
        </div>
        <div class="abilities-serf">
            <h3>Сертификаты</h3>
            <div class="serfs">
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
                <div class="serf-block"><img src="/images/cite.png" alt="cite"></div>
            </div>
        </div>
    </aside>
    <aside class="right-side">
        <div class="abilities-tech">
            <h3>Технологии</h3>
            <h4>Языки</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
                <li>PHP</li>
                <li>SCSS</li>
                <li>LESS</li>
                <li>sql</li>
            </ul>
            <h4>Библиотеки, фреймворки</h4>
            <ul>
                <li>PUG</li>
                <li>JQuery</li>
                <li>Bootstrap</li>
                <li>Vue</li>
                <li>Vue Cli</li>
                <li>Vuex</li>
                <li>Express (node)</li>
                <li>ejs</li>
                <li>socket.io (node)</li>
                <li>webpack</li>
            </ul>
            <h4>ПО</h4>
            <ul>
                <li>GIT</li>
                <li>Sublime Text 3</li>
                <li>Webstorm</li>
                <li>Visual Studio Code</li>
                <li>Photoshop</li>
                <li>linux</li>
                <li>Node</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>Inkscape</li>
                <li>Figma</li>
                <li>GIMP</li>
            </ul>
            <h4>А так же</h4>
            Добавление платежных систем (Paypal, wuecommerce) и карт
        </div>
        <div class="abilities-me">
            <h3>Немного о том, как я работаю</h3>
            <div>
                <p>
                    Я довольно пунктуальна, поэтому приступаю к работе каждый день в одно и то же время.
                    Перед тем, как начать писать код я тщательно составляю план решения задачи.
                    При поиске решения использую гугл. Я набила руку в поисковике и нахожу нужную
                    информацию довольно быстро. Стараюсь не спрашивать старших по пустякам, если я обращаюсь к ним,
                    значит я в отчаяньи.
                </p>
                <p>
                    Сам код пишу очень аккуратно. Почти через каждые 5 строк я должна проверить, все ли нормально.
                    В моей программе почти никогда нет багов, о которых я не знаю
                    (если он есть, значит либо я не могу его решить, либо мне не показалось это багом).
                    Даже самая маленькая задача рассматривается мною как проект.
                </p>
                <p>
                    В течении дня я всегда составляю отчет по каждой задаче.
                    В конце дня я сокращаю общий отчет по всем задачам,
                    удаляю из него ходы мыслей, решения и записываю план на следующий день.
                </p>
            </div>
        </div>
    </aside>
  </div>
    <div class="how-i-create">
        <h2>Как я делаю сайты</h2>
        <ul>
            <li>Тех задание. Я создю план, в чем состоит задача, условия и что на данный момент имеется. Далее составляю план решения. В будущем наполняю документ отчетом о составленной работе.</li>
            <li>Стиль. Я имею опыт в работе с такими дизайнами как: нежный "девчачий" стиль, "эко" стиль, минимализм, неоновый стиль, яркий детский стиль. Если нет какого-то определенного стиля и даже логотипа - я продумаю основную концепцию, направление дизайна. Вам остается только выбрать.</li>
            <li>Эскизы и поиск материалов.  На данном этапе я нарисую несколько эскизов сайта в выбранном стиле (только не смейтесь) в "пеинте". Вам нужно выбрать окончательный вариант. Далее под данный эскиз будут подбираться материалы: картинки, шрифты и прочее.</li>
            <li>Когда известен общий стиль и есть набор материалов, можно рисовать сайт. Итогом будет макет сайта, проще - картинка. В конце этапа нужно снова связаться с заказчиком, чтоб узнать - устраивает ли его полноценный вид страниц. Если все хорошо -можно двигаться дальше.</li>
            <li>Верстка сайта. Как точно пиксель в пиксель, так и свободная верстка. Если дизайн разработала я - верстка свободная, возможно что-то изменится. На данном этапе и будущих этапах стоит составлять отчеты о проделанной работе.</li>
            <li>Оживление сайта. Добавление отзывчивости на действия пользователя, маршрут по страницам и т п. Полностью работа front-end.</li>
            <li>Разработка функциональности. Настройка сервера, установка домена, создание базы данных, взаимодействие страниц с сервером и базой данных. На выходе будет полноценный готовый сайт.</li>
            <li>Последний шаг - наполнение контентом. Самый простой этап. Вы делаете новый сайт, на который хотите перекачать все данные старого? Не беда - у меня есть опыт в создании парсера. Хотите поменять дизайн и верстку? После моей работы продажи увеличатся! У вас блог? Я умею программировать чат боты, а так же создам вам удобную форму для опубликования новой записи.</li>
        </ul>
    </div>
</section>

<%- include ('footer.ejs'); %>
</body>
</html>