<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<%- include ('header.ejs'); %>


<section class="one-work-page">
    <h1>Site #1</h1>
    <div class="page">
        <img src="/images/cite_2.png" alt="preview" class="main-img">
        <p><b>Name:</b> Blog of travel.</p>
        <p><b>Technologies:</b> html, sass, node, vue</p>
        <p><b>Design:</b> by me</p>
        <p><b>Sale:</b> negotiable price, upgrade and support possible</p>
        <p><b>Description:</b>A simple website for the traveler. Many beautiful photographs, galleries. Convenient form for new posts. Ability to comment without registration. And much more...</p>
        <img src="/images/cite.png" alt="preview" class="page-img">
        <img src="/images/cite.png" alt="preview" class="page-img">
        <img src="/images/cite_3.png" alt="preview" class="page-img">
        <img src="/images/cite_2.png" alt="preview" class="page-img">
        <p>Практический опыт показывает, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает широкому кругу специалистов участие в формировании системы обучения кадров, соответствующей насущным потребностям. Не следует, однако, забывать о том, что консультация с профессионалами из IT способствует подготовке и реализации дальнейших направлений развития проекта. Соображения высшего порядка, а также дальнейшее развитие различных форм деятельности способствует повышению актуальности экономической целесообразности принимаемых решений.</p>
        <div class="show-site"><a href="#">Show site</a></div>
    </div>
</section>

<%- include ('footer.ejs'); %>
</body>
</html>