<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<%- include ('header.ejs'); %>

<section class="works-page">
  <h1>My works</h1>
    <div class="works">
        <div class="one-work">
            <div class="photo">
                <img src="/images/cite.png" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <h3>Site #1</h3>
            <p><b>Name:</b> Blog of travel.</p>
            <p><b>Technologies:</b> html, sass, node, vue</p>
            <p><b>Design:</b> by me</p>
            <p><b>Sale:</b> negotiable price, upgrade and support possible</p>
            <p><b>Description:</b>A simple website for the traveler. Many beautiful photographs, galleries. Convenient form for new posts. Ability to comment without registration. And much more...</p>
            <a href="/one-work" class="show-site"><button class="anim-border">Show site</button></a>
        </div>
        <div class="one-work">
            <div class="photo">
                <img src="/images/cite.png" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <h3>Site #1</h3>
            <p><b>Name:</b> Blog of travel.</p>
            <p><b>Technologies:</b> html, sass, node, vue</p>
            <p><b>Design:</b> by me</p>
            <p><b>Sale:</b> negotiable price, upgrade and support possible</p>
            <p><b>Description:</b>A simple website for the traveler. Many beautiful photographs, galleries. Convenient form for new posts. Ability to comment without registration. And much more...</p>
            <a href="/one-work" class="show-site"><button class="anim-border">Show site</button></a>
        </div>
        <div class="one-work">
            <div class="photo">
                <img src="/images/cite.png" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <h3>Site #1</h3>
            <p><b>Name:</b> Blog of travel.</p>
            <p><b>Technologies:</b> html, sass, node, vue</p>
            <p><b>Design:</b> by me</p>
            <p><b>Sale:</b> negotiable price, upgrade and support possible</p>
            <p><b>Description:</b>A simple website for the traveler. Many beautiful photographs, galleries. Convenient form for new posts. Ability to comment without registration. And much more...</p>
            <a href="/one-work" class="show-site"><button class="anim-border">Show site</button></a>
        </div>
        <div class="one-work">
            <div class="photo">
                <img src="/images/cite.png" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <h3>Site #1</h3>
            <p><b>Name:</b> Blog of travel.</p>
            <p><b>Technologies:</b> html, sass, node, vue</p>
            <p><b>Design:</b> by me</p>
            <p><b>Sale:</b> negotiable price, upgrade and support possible</p>
            <p><b>Description:</b>A simple website for the traveler. Many beautiful photographs, galleries. Convenient form for new posts. Ability to comment without registration. And much more...</p>
            <a href="/one-work" class="show-site"><button class="anim-border">Show site</button></a>
        </div>
    </div>
</section>

<%- include ('footer.ejs'); %>

</body>
</html>