@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('/css/main-page.css');

@font-face {
  font-family: 'stark';
  src: url("/fonts/stark.woff") format("woff");
}

@font-face {
  font-family: 'Practice';
  src: url("/fonts/Practice-font.otf") format("opentype");
}

@font-face {
  font-family: 'BalticBelt';
  src: url("/fonts/BalticBelt.ttf") format("truetype");
}

@font-face {
  font-family: 'gunnyrewritten';
  src: url("/fonts/gunnyrewritten.woff") format("woff");
}

:root {
  --black: #1c1c1c;
  --gray-light: #e6e6e6;
  --white: #fff;
  --blue: #8FB8C1;
  --gray: #adadad;

  --font-1: 'Play', serif; /* Основной */
  --font-2: 'BalticBelt', serif; /* Заголовки 1 */
  --font-3: 'stark', serif; /* Вспомогательный */
  --font-4: 'Practice', sans-serif; /* Заголовки 2 */
  --font-5: 'Caveat', cursive; /* В контактах */
}

::-webkit-scrollbar-track
{
  background-color: var(--black);
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--blue);
}

::-webkit-resizer {
  background: transparent;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

::selection {
  color: var(--black);
  background-color: var(--blue);
}

.no-select::selection {
  color: var(--white);
  background-color: var(--black);
}

html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-1);
  background-color: var(--black);
  color: var(--white);
  padding: 0;
  margin: 0;
  overflow: auto;
}

body > * {
  overflow: auto;
}

a {
  color: var(--white);
  text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- #0 Header. -----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 3em;
  max-width: 1600px;
  margin: auto;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 1em;
}

header .logo .text {
  font-family: var(--font-3);
  font-weight: 600;
  font-size: 2em;
  top: 6px;
  left: -12px;
  color: var(--white);
  mix-blend-mode: difference;
  position: relative;
}

header .logo .text span {
  color: var(--white);
  mix-blend-mode: difference;
}

header .logo img {
  width: 50px;
  height: 50px;
}

header .left-side{
  display: flex;
  flex-wrap: wrap;
}

header nav {
  font-family: var(--font-1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 50px;
}

nav a {
  text-transform: uppercase;
  margin-right: 20px;
  padding: 5px 3px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: 0.2s ease color;
  color: var(--gray-light);
}

nav a:before
{
  content: "";
  position: absolute;
  transition: 0.2s ease all;
  top: 50%;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--gray-light);
}

nav a:hover
{
  color: #fff;
}

nav a:hover:before
{
  width: 100%;
}

.language-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-switch .label {
  border: 3px solid var(--gray-light);
  display: inline-block;
  padding: 3px 15px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  font-family: var(--font-1);
}

.lan-switch {
  display: none;
}

.language-switch .label {
  cursor: pointer;
  min-width: 60px;
}

.language-switch .label:hover {
  background: none;
  color: var(--white);

}

.language-switch .lan-switch:checked + .label:hover {
  color: var(--black);
}

.language-switch .label:after {
  background: var(--gray-light);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}

.switch-left + .label {
  border-right: 0;
}

.switch-left + .label:after {
  left: 100%;
}

.switch-right + .label {
}

.switch-right + .label:after {
  left: -100%;
}

.lan-switch:checked + label {
  cursor     : default;
  color      : var(--black);
  transition : color 200ms;
}

.lan-switch:checked + label:after{
  left: 0;
  opacity: 1;
}



/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- #8 Footer ------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

footer .content{
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  padding: 0 1em;
  margin: auto;
  flex-wrap: wrap;
}

footer .left-side {
  align-items: self-end;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 2em auto 2em 0;
}

footer .left-side p {
  max-width: 300px;
}

footer .menu {
  border: 2px dotted var(--gray-light);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .menu a {
  display: block;
  font-family: var(--font-3);
  margin: 0.5em;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
}

footer .right-side {
 text-align: right;
  margin: 2em 0 2em auto;
}

footer .about-site {
  max-width: 300px;
  margin-left: 1em;
  font-family: var(--font-1);
  margin-bottom: 1em;
}

footer .language-switch {
  justify-content: start;
}

footer .about-site h3 {
  font-family: var(--font-3);
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

footer .right-side p {
  margin: 0 1em;
}

footer .social {
  display: flex;
  justify-content: flex-end;
}

footer .social a {
  border: 2px dotted var(--gray-light);
  padding: 0.5em;
  margin: 1em;
  transition: all 0.2s ease;
}

footer .social a:before {
  content: "";
  float: left;
  padding-top: 100%;
}

footer .social img {
  width: 20px;
  height: 20px;
  float: left;
  margin:auto;
  object-fit: contain;
  transition: all 0.2s ease;
  filter: invert(100%);
}

footer .social a:hover {
  transform: rotate(-45deg);
}

footer .social a:hover img {
  transform: rotate(45deg);
}

.last-block {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5% 1em 5%;
  font-size: 0.8em;
  max-width: 1600px;
  margin: auto;
}

.last-block a {
  transition: all 0.4s ease;
  text-decoration: underline;
}

.last-block a:hover {
  background: var(--blue);
  color: var(--black);
}

/*--------------------------------------------- Story Page -----------------------------------------------------------*/

.my-story {
  padding: 5em;
  max-width: 1100px;
  margin: auto;
}

.my-story h1 {
  font-family: var(--font-4);
  font-size: 4em;
}

.my-story p {
  font-size: 1.6em;
  width: 60%;
  min-width: 400px;
}

.child-story {
  max-width: 1100px;
  background: var(--gray-light);
  color: var(--black);
  padding: 5em;
  margin: auto;
  font-family: var(--font-1);
  transform: rotate(-3deg);
}

.child-story h3 {
  font-family: var(--font-2);
  font-size: 2em;
  margin-top: 0;
}

.child-story p {
  margin-top: 2em;
}

.university-story {
  max-width: 1100px;
  padding: 5em;
  margin: auto;
}

.university-story h3 {
  font-family: var(--font-2);
  font-size: 3em;
}

.university-story p {
  margin-top: 2em;
}

.work-story {
  max-width: 1100px;
  padding: 5em;
  margin: 0 auto 5em auto;
  color: var(--black);
  background: var(--gray-light);

}

.work-story h3 {
  font-family: var(--font-2);
  font-size: 3em;
}

.work-story h4 {
  font-family: var(--font-2);
  font-size: 2em;
  background: var(--black);
  color: var(--gray-light);
  transform: rotate(2deg);
  display: flex;
  justify-content: space-between;
}

.work-story h4:nth-child(4){
  transform: rotate(-2deg);
  text-align: left;
}


.work-story p {
  margin: 0.2em 0;
}
/*--------------------------------------------- Works Page ----------------------------------------------------------*/

.works-page {


}

.works {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: 3em;
  justify-content: space-between;
  margin: 0 auto 4em auto;
}

.works-page .one-work {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  min-width: 500px;
  transition: all .35s ease;
  padding: 1em;
  overflow: visible;
  background: var(--gray-light);
  height: auto;
  top: 0;
  left: 0;
  user-select: none;

  color: var(--black);
  width: 44%;
  margin: 1em 1em;
  position: relative;
  cursor: initial;
  flex: 1;
}

.works-page h1 {
  font-family: var(--font-4);
  font-size: 5em;
  margin: 0.5em 0.8em;
}

.one-work .show-site {
  display: flex;
  justify-content: flex-end;
}

.one-work a {
  color: var(--black);
  text-decoration: underline;
}

.one-work .show-site button {
  padding: 1em 2em;
  margin: 2em;
  font-family: var(--font-2);
  cursor: pointer;
  font-size: 1.1em;
  color: var(--black);
  background-image: linear-gradient(
          90deg
          , var(--black) 50%, transparent 50%), linear-gradient(
          90deg
          , var(--black) 50%, transparent 50%), linear-gradient(
          0deg
          , var(--black) 50%, transparent 50%), linear-gradient(
          0deg
          , var(--black) 50%, transparent 50%);
  border: none;
  transition: 0.4s all ease;
}

.one-work .show-site button:hover {
  text-shadow: 0 2px 0 var(--blue);
  box-shadow: 4px 4px 0 var(--blue), -4px 4px 0 var(--blue);
}

/*--------------------------------------------- Abilities ------------------------------------------------------------*/

.abilities-page {

}

.abilities-page .content {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  padding: 3em 0;
  margin: 0 auto;
  flex-wrap: wrap;
}

.abilities-page .left-side {
  flex: 1;
  padding: 1em;
  margin: 2em 3em;
}

.abilities-page .right-side {
  flex: 1;
  min-width: 520px;
  padding: 1em;
  margin: 2em 3em;
}

.abilities-serv {
  min-width: 400px;
}

.abilities-serv ol {
  list-style: none;
  counter-reset: new-style;
}

.abilities-serv li {
  counter-increment: new-style;
  margin: 0;
  display: flex;
  align-items: center;
}

.abilities-serv li:before {
  content: counter(new-style);
  font-size: 3em;
  font-family: var(--font-2);
  margin-right: 0.3em;
  min-width: 50px;
  max-width: 50px;
}

.abilities-serv h3 {
  font-size: 4em;
  font-family: var(--font-4);
}

.abilities-serv h4 {
  font-size: 1.4em;
  font-family: var(--font-4);
}

.abilities-serf {
  background: var(--gray-light);
  padding: 3em;
  color: var(--black);
  margin-top: 5em;
  transform: rotate(2deg);
  min-width: 450px;
}

.abilities-serf h3 {
  font-size: 2em;
  font-family: var(--font-2);
}

.serfs {
  display: flex;
  flex-wrap: wrap;
}

.serf-block {
  min-width: 150px;
  max-width: 250px;
  display: inline;
  padding: 0.7em 0.7em 2em 0.7em;
  margin: 0.5em;
  background-color: var(--white);
  position: relative;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s transform ease;
  flex: 1
}

.serf-block:hover {
  transform: scale(3);
  z-index: 1;
}

.serf-block img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.abilities-tech {
  background: var(--gray-light);
  padding: 3em;
  color: var(--black);
  transform: rotate(-2deg);
}

.abilities-tech h3 {
  font-size: 2em;
  font-family: var(--font-2);
}

.abilities-tech h4 {
  font-size: 1.4em;
  font-family: var(--font-3);
  margin-bottom: 0;
}

.abilities-tech ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.abilities-tech li {
  padding: 0.5em 1.3em;
  margin: 0.2em;
  background: var(--blue);
}

.abilities-tech li:nth-child(2n+1){
  background: var(--gray);
}

.abilities-me {
  margin-top: 5em;
}

.abilities-me h3 {
  font-size: 2em;
  font-family: var(--font-3);

}

.how-i-create {
  max-width: 1100px;
  margin: 4em auto;
}

.how-i-create h2 {
  font-size: 5em;
  font-family: var(--font-4);
}

/*--------------------------------------------- One work -------------------------------------------------------------*/

.one-work-page {
  padding: 3em;
  max-width: 1000px;
  margin: auto;
  overflow: visible;
  position: relative;
}

.one-work-page h1 {
  font-family: var(--font-4);
  font-size: 4em;

}

.one-work-page .page {
  background: var(--gray-light);
  padding: 2em;
  color: var(--black);
  clear: both;
  position: relative;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  transform-style: preserve-3d;
}

.one-work-page .back-page {
  background: var(--gray-light);
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  position: absolute;
  top: -4px;
  left: -3px;
  transform: translateZ(-10px) rotate(-3deg);
}

.one-work-page .back-page::after {
  content: "";
  background: var(--gray-light);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  transform: rotate(6deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3px;
  left: 5px;
}

.one-work-page .page:after {
  content: "";
  display: table;
  clear: both;
}

.one-work-page .main-img {
  width: 230px;
  display: inline;
  padding: 0.7em 0.7em 2em 0.7em;
  margin: 0.5em;
  background-color: var(--white);
  position: relative;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s transform ease;
  float: right;
  transform: rotate(-2deg);
}

.one-work-page .main-img:hover {
  transform: rotate(0deg) scale(3);
  z-index: 10;
}

.one-work-page .page-img {
  width: 150px;
  display: block;
  padding: 0.7em 0.7em 2em 0.7em;
  margin: 0.5em;
  background-color: var(--white);
  position: relative;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s transform ease;
  float: left;
  transform: rotate(0deg);
}

.one-work-page .page-img:nth-child(2n + 1){
  clear: left;
}

.one-work-page .page-img:hover {
  transform:  scale(3);
  z-index: 10;
}

.one-work-page a {
  color: var(--black);
  text-decoration: underline;
}

.one-work-page .show-site a {
  background: var(--white);
  font-family: var(--font-2);
  padding: 1em 1.4em;
  transform: rotate(5deg) translate(0px, 0px);
  color: var(--black);
  margin: 2em;
  font-size: 1.4em;
  transition: 0.5s all ease;
}

.one-work-page .show-site {
  display: flex;
  justify-content: flex-end;
  margin-top: 6em;
  min-width: 50%;
}

.one-work-page .show-site a:hover {
  text-shadow: 0 2px 0 var(--blue);
  box-shadow: 4px 4px 0 var(--blue);
  transform: rotate(5deg) translate(-4px, -4px);
}

/*--------------------------------------------- Terms ---------------------------------------------------------------*/

.terms {
  max-width: 1100px;
  padding: 2em;
  margin: auto;
}

.terms h1 {
  font-family: var(--font-3);
  font-size: 5em;
  text-align: center;
  color: var(--white);
  position: relative;
  z-index: 1;
  text-decoration: underline;
}

.terms a {
  text-decoration: underline;
}

.terms div {
  border: 3px dotted var(--white);
  padding: 3em;
}

/*--------------------------------------------- Mobile ---------------------------------------------------------------*/

/* only mobile */
@media (hover: none) and (pointer:ough) { 
  .one-work-page .main-img:hover, 
  .one-work-page .page-img:hover,
  .one-work .photo:hover {
    transform: scale(1);
  }
  .contact-form {
    transform: rotate(0deg);
  }
}
/* only tablets */
@media (hover: none) and (pointer: fine) { 
  .one-work-page .main-img:hover, 
  .one-work-page .page-img:hover,
  .one-work .photo:hover {
    transform: scale(1);
  }
  .contact-form {
    transform: rotate(0deg);
  }
}

@media screen and (max-width:1100px){
  .acquaintance h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  .acquaintance .main-img {
    height: 400px;
  }
  .fun-facts-head {
    margin-top: 0;
  }
  .fun-facts-block {
    width: 450px;
  }
  .fun-facts-block ul {
    margin-left: 0.5em;
    padding-left: 1.5em;
  }
  .what-can-i-do span:nth-child(7), 
  .what-can-i-do span:nth-child(8) {
    display: none;
  }
  .my-skills .skill:nth-child(5) {
    display: none;
  }
  .my-works .container {
    padding: 0 1em;
  }
  .my-works-blocks {
    margin-top: 2em;
  }
  .one-blog:nth-child(4) {
    display: none;
  }
  .contact-form {
    transform: rotate(-6deg)
  }
  .cube {
    display: none;
  }

  footer .left-side {
    align-items: center;
  }

  footer .menu {
    min-width: 250px;
  }

  footer .menu a {
    min-height: 50px;
    text-align: center;
  }
  .my-story {
    padding: 3em;
  }
  .my-story h1 {
    font-size: 3em;
  }
  .my-story p {
    font-size: 1.2em;
    width: 80%;
    min-width: 400px;
  }
  .child-story, 
  .university-story, 
  .work-story {
    transform: rotate(0deg);
    padding: 3em;
  }
  .work-story h4 {
    font-size: 1.7em;
  }
  .abilities-page .content {
    padding: 0;
  }
  .abilities-page .left-side,
  .abilities-page .right-side {
    margin: 1em;
  }
  .abilities-tech,
  .abilities-serf {
    transform: rotate(0deg);
  }
  .abilities-serv h3 {
    margin: 0.3em 0;
  }
  .works-page h1 {
    font-size: 3em;
    margin: 0.5em 0.8em;
  }
  .works {
    padding: 1em;
  }
  .one-work-page h1 {
    font-size: 3em;
    margin: 0.3em;
    margin-bottom: 1em;
  }
  .works-page .one-work {
    margin: 1em;
  }
}

@media screen and (max-width:850px){
  header,
  header .left-side,
  header nav {
    justify-content: center;
  }

  .arrow, .arrow2, .arrow3 {
    display: none;
  }

  .acquaintance h1 {
    font-size: 1.9em;
    margin-bottom: 0.2em;
  }

  .acquaintance {
    margin: 1em auto 3.3em auto;
  }

  .i-design { 
    font-size: 1.6em;
  }

  .fun-facts-head {
    font-size: 1.2em;
  }

  .fun-facts-block {
    margin-bottom: 2em;
  }

  .fun-facts-block ul {
    margin: 0 0 0 1em;
  }

  .what-can-i-do {
    padding: 5em 0;
    height: 5em;
  }

  .serv-tech-info .right-side {
    width: 100%;
  }

  .serv-tech-info .right-side * {
    width: 100%;
  }

  .serv-tech-info .right-side a {
    text-align: center;
  }

  .one-review {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 5em;
  }

  .reviews {
    overflow: hidden;
  }

  cite {
    font-size: 1em;
  }

  .contact-me {
    overflow: hidden;
  }

  .contact-me h2 {
    display: none;

  }

  .contact-form {
    padding: 20px;
    margin-top: 2em;
    transform: rotate(-3deg);
  }

  .contact-me .left-side {
    margin: 0;
  }

  .contact-me .content {
    margin-bottom: 1em;;
  }
  .one-work-page .main-img:hover, 
  .one-work-page .page-img:hover{
    transform: scale(2);
  }
  .one-work .photo:hover {
    transform: scale(1);
  }
  .one-work-page .back-page {
    display: none;
  }
  .one-work-page {
    padding: 1.3em;
  }
  .one-work-page .page {
    background: var(--black);
    padding: 1em;
    color: var(--white);
    box-shadow: none;
  }

  .abilities-tech,
  .abilities-serf {
    padding: 2em;
  }

  .abilities-serf, 
  .abilities-me {
    margin-top: 2em;
  }

  .what-can-i-do h2 {
    font-size: 1.7em
  }

  .my-skills .skill:nth-child(4) {
    display: none;
  }

  .what-can-i-do span:nth-child(6) {
    display: none;
  }

  .serv-tech-info .left-side {
    flex: 1
  }

  .my-tools {
    background-image: linear-gradient(90deg, var(--white) 50%, transparent 50%), linear-gradient(90deg, var(--white) 50%, transparent 50%), linear-gradient(0deg, var(--white) 50%, transparent 50%), linear-gradient(0deg, var(--white) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 3s infinite linear;
    padding: 1em;
  }

  .more-button {
    display: block;
  }
  
}

@media screen and (max-width:750px){
  .contact-form {
    transform: rotate(0deg);
  }

  .one-review blockquote {
    font-size: 1em;
    max-width: 400px;
  }

  .acquaintance .right-side {
    display: none;
  }

  .one-work-page .main-img:hover, 
  .one-work-page .page-img:hover {
    transform: scale(1);
  }

  .my-works-blocks .one-work {
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.1);
    margin: 0.2em;
  }

  .my-works-blocks .one-work:nth-child(3n+1) {
    transform: rotate(-1deg);
}

.my-works-blocks .one-work:nth-child(3n+2) {
    transform: rotate(3deg);
}
.my-works-blocks .one-work:nth-child(3n) {
    transform: rotate(-4deg);
}
.contact-me .left-side {
  width: 100%;
}
.contact-form {
  margin-top: 0;
  background-color: var(--black);
  color: var(--white);
}

.contact-form textarea {
  color: #19e1b4;
  filter: invert(98.5%)
}

.contact-form button {
  color: var(--white);
}

.contact-form label,
.contact-form .mail-block .header {
  min-width: 75px;
}

.contact-form input,
.contact-form textarea,
.contact-form .mail-block .radio-parent {
  flex: 4
}
}

@media screen and (max-width:660px){ 
  .my-works-blocks .one-work {
    transform: rotate(0deg) !important;
    box-shadow: none;
    margin: 0.2em;
  }

  .what-can-i-do .tooltip,
  .my-skills .skill {
    display: none;

  }

  .work-story h4 {
    background: var(--gray-light);
    color: var(--black);
    transform: rotate(0deg);
    display: block;
  }

  .child-story, .university-story, .work-story, .my-story {
    transform: rotate(0deg);
    padding: 1.5em;
  }

  .go-blog-button .back {
    display: none;
  }

  .go-blog-button {
    background: var(--black);
    padding: 1.5em;
    margin: 1em;
    width: auto;
  }
}

@media screen and (max-width:895px){ 
  footer .left-side {
    justify-content: space-between;
    width: 100%;
  }

  .about-site {
    text-align: right;
  }

  footer .left-side p {
    text-align: end;
  }

  footer .language-switch {
    justify-content: end;
  }
}

@media screen and (max-width:607px){ 
  footer .left-side {
    justify-content: center;
    width: 100%;
  }

  .about-site {
    text-align: center;
  }

  footer .left-side p {
    text-align: center;
  }

  footer .language-switch {
    justify-content: center;
  }

  footer .right-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width:705px){ 

  .one-blog {
    flex: 1;
  }

  .one-blog:nth-child(4) {
    display: block;
  }

  .acquaintance {
    display: none;
  }

}

@media screen and (max-width:560px){
  .what-can-i-do .tooltip {
    display: none;
  }
  .fun-facts-block {
    margin-bottom: 4em;
    width: auto;
    min-width: 200px;
  }

  .about-me .right-side {
    margin:  0.3em 1em;
  }

  .serf-block {
    width: auto;
    padding: 0;
  }

  .serf-block:hover {
    transform: scale(1)
  }
}

@media screen and (max-width:500px){
  .one-work .photo {
    float: none;
    transform: rotate(0deg);
    max-width: 400px;
    width: 90%;
    top: -1em;
    right: 0;
  }

  blockquote::after,
  blockquote:before {
    display: none;
  }

  .one-review {
    margin: 0;
    padding: 0 3em;
  }

  .Back, .forward {
    padding: 9px
  }
}

@media screen and (max-width:445px){
  .go-blog-button {
    font-size: 0.7em;
    text-align: center;
  }

  .contact-form .mail-block {
    display: block
  }
  .contact-form .mail-block > * {
    display: block;
  }
  .contact-form label, .contact-form .mail-block .header {
    text-align: left;
    display: block;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .contact-form {
    min-width: 100px;
  }

  .contact-form h3 {
    font-size: 1.5em;
    text-align: center;
  }

  .contact-form .mail-block {
    text-align: left;
  }

  .my-story h1,
  .abilities-serv h3 {
    font-size: 2em;
    text-align: center;
  }

  .my-story p {
    min-width: 100px;
    width: 100%;
    text-align: center;
  }

  .my-story h3,
  .university-story h3,
  .work-story h3 {
    font-size: 1.5em;
  }

  .work-story h4 {
    font-size: 1.3em;
  }

  .abilities-serv li:before {
    font-size: 1.5em;
    min-width: 30px
  }

  .abilities-serv ol {
    padding-left: 1em
  }

  .abilities-serv {
    min-width: 230px
  }

  .abilities-serf, .abilities-me,
  .abilities-page .left-side, .abilities-page .right-side {
    min-width: 230px;
  }

  .abilities-page .left-side, .abilities-page .right-side {
    padding: 0;
    margin: 0;
  }

  .abilities-me {
    padding: 1em;
    margin: 0;
  }

  .abilities-me h3 {
    margin: 0.5em 0;
  }

  .abilities-tech, .abilities-serf {
    padding: 1em;
  }

  .works-page h1 {
    font-size: 2em;
  }

  .works-page .one-work {
    margin: 0;
    margin-bottom: 1em;
    min-width: 230px;
  }

  .works {
    padding: 0;
  }

  .one-work .show-site button {
    margin: 1em
  }

  .one-work .show-site {
    justify-content: flex-start;
  }
}

@media screen and (max-width:400px){
  .work-story h3,
  .university-story h3 {
    font-size: 2em;
  }

  .one-work .photo {
    float: none;
    transform: rotate(0deg);
    max-width: 400px;
    width: 100%;
  }


  .who-am-i {
    padding: 1em
  }
  
  .i-design {
    white-space: normal;
    padding: 0 0.5em
  }

  .i-design:before {
    display: none;
  }

}