<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel='stylesheet' href='/css/works/learn_to_child.css'/>
    <link rel="icon"
          type="image/png"
          href="/images/learn_to_child/crystal-2.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<div class="stars-back-1">
<div class="stars-back-2">
    <header>
        <menu>
            <li class="selected"><a href="#">Дом</a></li>
            <li><a href="#">Учебник</a></li>
            <li class="logo">
                <img src="/images/learn_to_child/crystal-2.png" alt="logo">
                <span>Astrochilds</span>
            </li>
            <li><a href="#">О сайте</a></li>
            <li><a href="#">Для родителей</a></li>
        </menu>
    </header>

    <section class="hello-human">
        <img class="backg-img" src="/images/learn_to_child/planet-4.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-3.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-9.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-8.png" alt="">
        <h1>Привет, человек!</h1>
        <p>Практический опыт показывает, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает широкому кругу специалистов участие в формировании системы обучения кадров, соответствующей насущным потребностям.</p>
        <button>Давай учиться!</button>
    </section>

    <section class="what-this-site">
        <img class="backg-img" src="/images/learn_to_child/planet-2.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-1.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/crystal-1.png" alt="">
        <div>
            <img src="/images/learn_to_child/alien.png" class="hello" alt="hello!">
        </div>
        <div>
            <h2>Что это за сайт?</h2>
            <p>Практический опыт показывает, что постоянное информационно-техническое обеспечение нашей деятельности обеспечивает широкому кругу специалистов участие в формировании системы обучения кадров, соответствующей насущным потребностям.</p>
        </div>
    </section>

    <section class="who-create-site">
        <img class="backg-img" src="/images/learn_to_child/ufo.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-6.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/crystal-2.png" alt="">
        <h2>Чему учит этот сайт?</h2>
        <div class="visit-card">
            <p>Тема нашего сайта - астрономия и космос. Мы стараемся интересно рассказать про космос и заинтересовать детей астрономией.</p>
            <p>С нами ты узнаешь:</p>
            <div class="flex">
                <ul>
                    <li>Истинная форма земли - не шар</li>
                    <li>Сможет ли человек жить на Марсе</li>
                    <li>Можно ли добраться до ядра земли</li>
                    <li>Насколько близко можно подлететь к слонцу</li>
                    <li>Как живут астронавты в космосе</li>
                </ul>
                <img src="/images/learn_to_child/rocket.png" alt="it is cool!">
            </div>
        </div>
    </section>

    <section class="what-plus">
        <img class="backg-img" src="/images/learn_to_child/meteor.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-7.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/crystal-1.png" alt="">
        <h2>В чем преимущества данного сайта?</h2>
        <div class="plus-side">
            <img src="/images/learn_to_child/astronaut.png" alt="it is cool!">
            <table>
                <tr>
                    <th>Другие сайты</th>
                    <th>Наш сайт</th>
                </tr>
                <tr>
                    <td>- Что-то плохое</td>
                    <td>+ Что-то хорошее</td>
                </tr>
                <tr>
                    <td>Недостаток</td>
                    <td>Преимущество</td>
                </tr>
                <tr>
                    <td>Они не обучают</td>
                    <td>Мы обучаем</td>
                </tr>
                <tr>
                    <td>Сухая теория</td>
                    <td>Интерактивные элементы</td>
                </tr>
                <tr>
                    <td>Нет поддержки</td>
                    <td>Круглосуточная поддержка</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="start-here">
        <img class="backg-img" src="/images/learn_to_child/planet-5.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-2.png" alt="">
        <img class="backg-img" src="/images/learn_to_child/planet-8.png" alt="">
        <h2>С чего начать?</h2>
        <div class="start-buttons">
            <div class="little">
                <h4>Дошкольник</h4>
                <ol>
                    <li><a href="#">Земля круглая?</a></li>
                    <li><a href="#">Куда пропадает солнце ночью?</a></li>
                    <li><a href="#">Почему луна меняет свою форму на небе?</a></li>
                    <li><a href="#">Звездное небо. Мы - часть большой вселенной.</a></li>
                    <li><a href="#">Кометы и метеориты - кто больше?</a></li>
                    <li><a href="#">...</a></li>
                </ol>
            </div>
            <div class="junior">
                <h4>Начальные классы</h4>
                <ol>
                    <li><a href="#">Спутники. Земли и не только.</a></li>
                    <li><a href="#">Плутон. Как поссорить астрономов.</a></li>
                    <li><a href="#">Что такое солнце?</a></li>
                    <li><a href="#">...</a></li>
                </ol>
            </div>
            <div class="medium">
                <h4>Средняя школа</h4>
                <ol>
                    <li><a href="#">Какого размера вселенная?</a></li>
                    <li><a href="#">Что за пределами солнечной системы?</a></li>
                    <li><a href="#">Черная дыра - это опасно?</a></li>
                    <li><a href="#">Земля - единственная планета, пригодная для жизни?</a></li>
                    <li><a href="#">...</a></li>
                </ol>
            </div>
        </div>
    </section>

    <footer>
        <img src="/images/learn_to_child/1873-trans.png" alt="">
        <div class="footmenu">
            <div class="show-side">
                Меню
            </div>
            <div class="hide-side">
                <menu>
                    <li><a href="#">Учебник</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Игры</a></li>
                    <li><a href="#">Для родителей</a></li>
                    <li><a href="#">О сайте</a></li>
                </menu>
            </div>
        </div>
    </footer>

    <script>
      (function(){

        let parallax = document.querySelectorAll(".stars-back-1"),
            speed = 0.5;

        let parallax2 = document.querySelectorAll(".stars-back-2"),
            speed2 = 0.3;

        window.onscroll = function(){

          [].slice.call(parallax).forEach(function(el,i){

            let windowYOffset = window.pageYOffset,
                elBackgrounPos = "50% " + (windowYOffset * speed) + "px";

            el.style.backgroundPosition = elBackgrounPos;

          });

          [].slice.call(parallax2).forEach(function(el,i){

            let windowYOffset = window.pageYOffset,
                elBackgrounPos = "50% " + (windowYOffset * speed2) + "px";

            el.style.backgroundPosition = elBackgrounPos;

          });
        };

      })();
    </script>
</div>
</div>
</body>
</html>